extends base

block script
    script(src='javascripts/map-backend-error.js')
block content
    h3. 
        Session manager:
    table(cellpadding="10")
        tr 
            th(width="25px").
                Id
            th.
                Username
            th. 
                Password
            th.
                Status
        each d in data
            tr
                form(method = "GET")
                    td
                        input(type="hidden", name="c", value="u")
                        input(type="text", name="i", value=d.id, readonly)
                    td
                        input(type="text", name="n", value=d.name)
                    td
                        input(type="text", name="p", value=d.password)
                    td
                        input(type="text", name="a", value=d.isActive)
                    td
                        input(type="submit", value="Update")
        tr
        tr
            td.
                &nbsp;
    h3. 
        New session manager:
    table
        tr
            form(method = "GET")
                td
                    input(type="hidden", name="c", value="n")
                    input(type="hidden", name="i", value="0", readonly)
                td
                    input(type="text", placeholder="new username", name="n")
                td
                    input(type="text", placeholder="new password", name="p")
                td
                    input(type="text", name="a", value="1")
                td
                    input(type="submit", value="New")

    h3. 
        Config
    table(cellpadding="10")
        tr
            th(width="170px").
                Auto redirect
            th.
                Session name
            th.
                Session password
        tr    
            form(method = "GET")
                td(align="center")
                    input(type="hidden", name="c", value="s")
                    input(type="hidden", name="i", value="0")
                    input(type="text", name="a" value=car)
                td
                    input(type="text", name="n", value=crs)
                td
                    input(type="text", name="p", value=crp)
                td
                    input(type="submit", value="Update")